<main>
  <div class="c-loading">
    <div class="d-flex align-items-center flex-column">
      <div class="spinner-grow text-info flex-shrink-0" style="width: 10rem; height: 10rem;" role="status"> </div>
      <p class="lead mt-5">Generating Report...</small>
    </div>
    <script>
      window.location.href = '/jobs/' + '{{job_id}}'
    </script>
</main>
